/*TODO $footer CRIMSON ROMAN -> CRIMSON TEXT
   footer background: bad source image*/

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Amsdam Regular";
    src: url("fonts/amsdam-regular/amsdam-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Crimson Roman";
    src: url("fonts/crimson-roman/crimson-roman.otf") format("opentype");
}

h1 {
    text-transform: uppercase;
    font-family: "Amsdam Regular", serif;
    color: #ffffff;
    font-size: 35.7px;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding: 0 18px;
}

.h2-black, .h2-white {
    font-family: "Amsdam Regular", serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
}

.h2-black {
    color: #3e3d3d;
}

.h2-white {
    color: #ffffff;
}

.h2-black::after, .h2-white::after {
    content: "";
    display: block;
    margin: 27px auto 40px;
    background-repeat: no-repeat;
    height: 5px;
    width: 186px;
}

.h2-black::after {
    background-image: url("img/wavy-line-black.png");
}

.h2-white::after {
    background-image: url("img/wavy-line-white.png");
}

.normal-text {
    font-family: "Crimson Roman", serif;
    font-size: 14px;
    color: #3e3d3d;
    letter-spacing: 0.1em;
    line-height: 25px;
}

.content-container {
    max-width: 1200px;

    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.button-class {
    border: 2px solid #3e3d3d;
    background-color: transparent;
    color: #3e3d3d;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-family: "Montserrat Regular", sans-serif;
}

.button-class:hover {
    background-color: #3e3d3d;
    color: #cecece;
}

.main-header {
    /*background-image: url("img/Slider main.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
    position: relative;
    overflow: hidden;
}

.slider-line {
    display: flex;
    position: absolute;
    z-index: -1;
    left: 0;
    transition: all ease 1s;
}

.navigation-bar {
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Montserrat Regular", sans-serif;
    color: #757575;
}

    .navigation-bar .content-container {
        height: 63px;
        display: flex;
        align-items: center;
    }

    .logo-name {
        text-decoration: none;
        font-weight: bold;
        color: #757575;
        display: inherit;
        align-items: inherit;
        letter-spacing: 0.1em;
        font-size: 18px;
    }

    .logo-image {
        margin-right: 12px;
    }

    .navigation-bar ul {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 580px;
        padding-left: 0;
    }

    .nav-social-networks {
        display: flex;
        align-items: center;
        color: #757575;
    }

        .nav-social-networks a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }

    .vertical-line {
        border-left: 2px solid #757575;
        height: 10px;
        margin: 0 4px;
        display: inline-block;;
    }

    .navigation-bar nav {
        margin-left: 107px;
        flex-grow: 1;
        color: #aaaaaa;
    }

        .navigation-bar nav a {
            text-decoration: none;
            position: relative;
            font-size: 12px;
            color: #aaaaaa;
        }

        .navigation-bar nav a::after {
            display: block;
            height: 2px;
            background-color: #757575;
            transition: width 0.2s;
            position: absolute;
            left: 0;
            width: 0;
            content: "";
        }

        .navigation-bar nav a:hover::after,
        a:focus::after {
            width: 100%;
        }

.slider {
    display: flex;
    align-items: center;
    margin-top: 198px;
}

    .slider .content-container {
        text-align: center;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    .slider-header {
        display: flex;
        align-items: center;
        background-image: url("img/wavy-lines.png");
        background-repeat: no-repeat;
        margin-top: 24px;
    }

    .slider .normal-text {
        color: white;
    }

    .slide-button {
        background-color: transparent;
        border: transparent;
        background-repeat: no-repeat;
        height: 34px;
        width: 34px;
    }

    .slider-left {
        background-image: url("img/slider-button-left.png");
        cursor: pointer;
    }

    .slider-right {
        background-image: url("img/slider-button-right.png");
        cursor: pointer;
    }

    .slider-button {
        height: 44px;
        width: 153px;

        display: block;
        margin: 44px auto 0;

        font-size: 15px;
        border-color: #f2f2f2;
        color: #ffffff;
    }

    .slider-button:hover {
        background-color: #3e3d3d;
        color: #ffffff;
    }

    .slider-button-arrow {
        position: relative;
        top: -8px;
    }

.main-content {
    background-color: #e3e3e3;
}

.about-us-container {
    padding-top: 73px;
}

    .about-us-container .content-container {
        display: flex;
        flex-direction: column;
    }

    .about-us {
        padding: 60px 70px 50px;
        background-color: #ffffff;
    }

        .about-us span {
            display: block;
            margin-bottom: 50px;
        }

        .about-us-buttons {
            display: flex;
            justify-content: center;
        }

        .about-us-buttons button {
            text-transform: capitalize;
            width: 134px;
            height: 39px;
            margin: 0 4px;
        }

    .about-us-stats {
        display: flex;
        justify-content: center;
        padding: 36px 0 63px;
    }

        .stat-element {
            width: 270px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-family: "Montserrat Regular", sans-serif;
            font-weight: bold;
            color: #3e3d3d;
        }

        .stat-name {
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
            line-height: 18px;
        }

        .stat-counter {
            font-size: 45px;
        }

.services-container {
    background-image: url("img/services-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

    .services-container h2 {
        padding-top: 70px;
    }

    .services-container span {
        color: #cfcfcf;
        max-width: 1030px;
        display: block;
        margin: 0 auto;
    }

    .services-descriptions {
        padding: 80px 0 85px;
        display: flex;
        justify-content: space-between;
    }

        .service-item {
            padding: 35px 30px 45px;
            max-width: 270px;
            border-bottom: 2px solid #898989;
            border-left: 2px solid #898989;
            border-right: 2px solid #898989;
            box-sizing: border-box;
        }

        .service-icon {
            position: relative;
        }

        .service-icon::before, .service-icon::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 50%;
            top: -35px;
            background-color: #898989;
        }

        .service-icon::before {
            left: -31px;
        }

        .service-icon::after {
            right: -31px
        }

        .service-icon img {
            position: absolute;
            top: -47px;
            left: 50%;
            margin-left: -13px;
        }

        .service-item h3 {
            text-transform: uppercase;
            font-size: 13px;
            font-family: "Montserrat Regular", sans-serif;
            font-weight: bold;
            color: #bebebf;
            line-height: 18px;
            position: relative;
        }

        .service-item span {
            color: #d8d8d8;
        }


.our-team-container {
    background-image: url("img/our-team-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

    .our-team-container h2 {
        padding-top: 70px;
    }

    .our-team-container span {
        max-width: 1000px;
        display: block;
        margin: 0 auto;
        color: #3e3d3d;
    }

    .our-team-members {
        display: flex;
        justify-content: space-between;
        width: 872px;
        margin: 0 auto;
        padding: 60px 0 70px;
    }

        .our-team-members-item {
            padding: 9px 7px;
            box-sizing: border-box;
            width: 271px;
            height: 338px;
        }

        .our-team-members-item:nth-child(1) {
            background-image: url("img/our-team-member-1.png");
        }

        .our-team-members-item:nth-child(2) {
            background-image: url("img/our-team-member-2.png");
        }

        .our-team-members-item:nth-child(3) {
            background-image: url("img/our-team-member-3.png");
        }

        .our-team-member-info {
            display: none;
            box-sizing: border-box;
            height: 100%;
            padding: 210px 91px 0 19px;
            text-align: left;

            background-image: url("img/our-team-white-bg.png");
        }

        .our-team-member-info h3 {
            margin: 0;  
            font-family: "Montserrat Regular", sans-serif;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            letter-spacing: 0.1em;
            color: #3e3d3d;
        }

        .our-team-member-info span {
            font-family: 'Crimson Roman', serif;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            font-style: italic;
            color: #3e3d3d;
        }

        .our-team-member-info .nav-social-networks {
            color: #3e3d3d;
        }

        .horizontal-line {
            width: 146px;
            height: 2px;
            margin: 13px 0 18px;
            background-color: #515151;
        }

        .our-team-members-item:hover .our-team-member-info {
            display: block;
        }

.portfolio-container{
    text-align: center;
    background-color: #ffffff;
    max-height: 1050px;
}
    
    .portfolio-container h2{
        padding-top: 70px;
    }
    
    .portfolio-container span{
        max-width: 1000px;
        display: block;
        margin: 0 auto;
        color: #3e3d3d;
    }

.quality-container{
    width: 100%;
    height: 179px;
    background: #3e3d3d;
    display: flex;
}

    .quality-container img{
        width: 109px;
        height: 104px;
        margin-left: 228px;
        padding-top: 36px;
    }

    .quality-title{
        margin-left: 45px;
        padding-top: 36px;
        text-align: center;
        color: #e3e3e3;
        letter-spacing: 1.5px;
        font-size: 16px;
        font-family: "Montserrat", serif;
        width: 582px;
    }

    .quality-text{
        margin-left: 60px;
        margin-top: 19px;
        text-align: left;
        color: #646464;
        font-size: 14px;
        font-family: "Crimson Text Italic", serif;
        font-style: italic;
        width: 630px;
    }

    .quality-container button{
        text-transform: capitalize;
        width: 134px;
        height: 39px;
        margin: 0 4px;
        border: 2px solid rgb(227, 227, 227);
        color: rgb(227, 227, 227);
        margin-left: 134px;
        margin-top: 66px;
    }

    .quality-container button:hover{
        background-color: rgb(227, 227, 227);
        color: rgb(45, 45, 47);
    }

 

.blog-container{
    text-align: center;
    background-color: rgb(227, 227, 227); 
}

    .blog-container h2{
        padding-top: 70px;
    }

    .blog-container span{
        max-width: 1000px;
        display: block;
        margin: 0 auto;
        color: #3e3d3d;
    }

.portfolio-buttons{
    display: flex;
    justify-content: center;
    margin-top: 52px;
} 
    .portfolio-buttons button{
        text-transform: capitalize;
        width: 139px;
        height: 39px;
        margin: 0 4px;
    }

.portfolio-examples{
    position: relative;
    height: 689px;
    margin: 0 auto;
    padding-top: 52px;
    box-sizing: border-box;    
}

    .portfolio-examples-upper{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 1600px;    
    }
    .portfolio-examples-bottom{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        position: absolute;
        bottom: 0;
    }

.prices-container{
    text-align: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
    .prices-container h2{
        padding-top: 70px;
    }

    .prices-container > span{
        max-width: 1000px;
        display: block;
        margin: 0 auto;
        color: #3e3d3d;
    }

    .blog-table-container{
        width: 1600px;
        height: 825px;
        display: flex;
        margin-top: 82px;
        flex-wrap: wrap;
    }

    .blog-table-pairs{
        height: 413px;
        width: 800px;
        display: flex;
    }

    .blog-panel{
        width: 400px;
        height: 413px;
        display: inline-block;
    }

    .s-textPanel-textArea {
        width: 330px;
        height: 313px;
        margin-top: 50px;
        margin-left: 35px;
    }

    .s-textPanel-textArea-dateAuthor {
        width: 154px;
        font-size: 11px;
        font-family: "Crimson Text Italic", cursive;
        font-style: italic;
        margin-bottom: 0;
        text-align: left;
        color: rgb(227, 227, 227);
        border-bottom: 1px solid rgb(69, 69, 69);
        padding-bottom: 14px;
    }

    .s-textPanel-textArea-title {
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        color: rgb(227, 227, 227);
    }

    .s-textPanel-textArea-text {
        margin-top: 30px;
        width: 319px;
        height: 242px;
        font-size: 13px;
        text-align: left;
        letter-spacing: 1px;
        line-height: 20px;
        color: #949494;
        font-family: "Crimson Text", sans-serif;
    }

    .prices-content{ 
        display: flex;
        justify-content: space-evenly;
        padding: 80px 0 85px;
    }

    .price-item{
        padding: 50px 70px 60px;
        margin-left: 15px;
        margin-right: 15px;
        width: 370px;   
        height: 550px;  
        background-color: #ffffff;
        box-sizing: border-box;
    }

    .price-item button{
        text-transform: capitalize;
        width: 139px;
        height: 39px;
        margin: 35px 0 4px;
    }

    .price-name{
        font-family: Montserrat;
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        letter-spacing: 0.15em;
        color: #3e3d3d;
    }

    .price-icon{
        position: relative;
    }

    .price-icon::before,
    .price-icon::after{
        content: "";
        position: absolute;
        height: 2px;            
        width: 37%;
        top: 56px;
        background-color: #3e3d3d;
        z-index: 0;
    }

    .price-icon::before{
        left: 0;
    }
    
    .price-icon img{
        position: absolute;
        top: 28px;
        left: 50%;
        margin-left: -28px;
        border-radius: 50%;
        border: 1.8px solid #3e3d3d;
        padding: 10px;
        z-index: 1;
    }    
    
    .price-icon::after{
        right: 0;
    }

    .price-value-container{
        display: flex;
        justify-content: center;  
        padding-top: 100px;
        padding-bottom: 10px;
    }
        .price-value-symbol{
            font-family: Montserrat;
            font-size: 28.5px;
            font-weight: 400;
            color: #3e3d3d;
            padding-top: 0px;
            padding-right: 10px;
        }
        .price-value{
            font-family: Montserrat;
            font-size: 70px;
            font-weight: 700;
            color: #3e3d3d;
            padding-right: 20px;
            padding-bottom: 12px;
        }
    
    .plan-info-container{
        display: flex;
        flex-direction: column;
    }

    .plan-info-text{
        font-family: 'Crimson Text';
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        font-style: italic;
        color: #3e3d3d;
    }

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    font-family: "Montserrat";  /* Конченый шрифт */
    color: #757575;
}

.map_img{
    width: 100%;
    height: 512px;
}

footer {
    background-color: rgb(42, 42, 42);
/*    background-image: url("img/footer_bad_background.png"); */
    height: 640px;
}

.flex_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    margin-left: 215px;
    margin-right: 215px;
}

.flex_footer .sub_flex_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height : 100%;
    width: 370px;
    letter-spacing: 0.1em;
}

.flex_footer div{
    color: rgb(200, 200, 200);
}

div form input{
    font-family: "Montserrat Regular", sans-serif;
    border: rgb(137, 137, 137) solid 2px;
    color: rgb(137, 137, 137);
    background: none;
    width: 324px;
    margin: 12px 15px;
    padding: 23px 22px;
    font-style: italic;
}

div form textarea{
    border: rgb(137, 137, 137) solid 2px;
    color: rgb(137, 137, 137);
    background: none;
    margin: 12px 15px;
    width: 731px;
    height: 95px;
    padding: 23px 22px;
    resize: none;
    font-style: italic;
}
#form-button {
    margin-left: 15px;
    width: 135px;
    height: 40px;
    background: rgb(70, 70, 70);
    color: #e3e3e3;
    border: none;
    font-weight: 400;
    letter-spacing: 0.1em;
}
#form-button:hover{
    background-color: rgb(180, 180, 180);
    color: black;

}

#form-button-disabled{
    margin-left: 15px;
    width: 135px;
    height: 40px;
    background: rgb(70, 70, 70);
    color: #000;
    border: none;
    font-weight: 400;
    letter-spacing: 0.1em;
}

footer hr{
    border: rgb(62, 62, 62) solid 1px;
    margin-right: 215px;
    margin-left: 215px;
}
footer p{
    margin-right: 215px;
    margin-left: 215px;
    color: rgb(137, 137, 137);
}

#gray136text{
    color: rgb(136, 136, 136);
    margin-top: -15px;
    font-family: "Crimson Roman", serif;
}
footer div .white_text{
    color: #e3e3e3;
    font-size: 13px;

    margin: 0;


}
#gray137text{
    color: rgb(137, 137, 137);
    font-family: "Crimson Roman", sans-serif;
}

.footer_copyright{
    color: rgb(131, 131, 131);
    font-family: "Crimson Roman", sans-serif;
    font-style: italic;

}


footer .logo_h2{
    display: flex;
    flex-direction: row;
}
#footer_logo_text{
    margin-top: 3px;
    font-weight: 400;
    font-size: 18px;
}
footer .logo_h2 img{
    margin-top: -3px;
    width : 40px;
    height: 30px;
}
.footer_logo{
    margin-right: 12px;
}

.statement_out{
    background-image: url("img/statement_back.png");
    width: 100%;
    height: 524px;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    position: relative;
    transition: all ease 1s;
}

    .slider-item {
        width: 1600px;
        flex-shrink: 0;
    }

.flex_statement{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 100%;
    margin: 0 400px;
    font-family: "Crimson Roman";
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    color: #d1d1d1;
}
.flex_statement:nth-child(2) span{}

.state_avatar img{
    margin-top: 75px;
    margin-bottom: 40px;
}
.state_quote{
    font-style: italic;
    font-size: 94px;
    line-height: 0;
}
.quote_at_start{
    position: relative;
    top: 60px;
    right: 30px;
}
.state_relative_container{
    position: relative;
}
.quote_at_end{
    display: inline-block;
    position: absolute;
    top: 55px;
    right: 115px;
    transform-origin: center;
    transform: rotate(180deg);
}

.statement{
    display: inline-block;
    text-align: center;
}

.state_author{
    margin-top: 50px;
    margin-bottom: 18px;
    font-family: "Montserrat Regular";
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.Free-PSD{
    font-family: "Montserrat Regular", sans-serif;
    font-size: 13px;
    margin-bottom: 40px;
}

#multidots{
    display: flex;
    flex-direction: row;
    width: 42px;
    height: 15px;
    justify-content: space-between;
}
.slide_button_dot{
    max-height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #c5c5c5;
    cursor: pointer;
}
.but_chosen{
    background-color: #e3e3e3;
}



.flex_clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 285px 0 285px;
    margin: 0 0 0 0;
    word-wrap: normal;

    background: white;
    height: 525px;
}

.flex_clients div img{

}
#client_main_text{
    margin: 5px 0 80px 0;
    text-align: center;
    padding: 0 0 0 0;
    font-family: "Crimson Roman", sans-serif;
    font-style: normal;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #3e3d3d;

}
#img_flex_array{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#img_flex_array img{
    height: 120px;
    width: 150px;
}

#modal-window {
    position: fixed;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 30%;
    background-color: #3e3d3d;
}

#modal-window div{
    padding-top: 10%;
    position: relative;
}

.button-modal{
    background: transparent;
    border: transparent;
    color: #e3e3e3;
    font-size: 20px;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    padding: 5px;
}

.button-modal:hover{
    color: #3e3d3d;
    background-color: #c5c5c5;
}

.hide{
    opacity: 0;
    transition: 1s;
}
