/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat/montserrat-v23-latin_cyrillic-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Amsdam Regular";
    src: url("fonts/amsdam-regular/amsdam-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Crimson Roman";
    src: url("fonts/crimson-roman/crimson-roman.otf") format("opentype");
}

body, html {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-family: "Amsdam Regular", serif;
    color: white;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 3px;
    padding: 0 18px;
}

.h2-black {
    font-family: "Amsdam Regular", serif;
    font-size: 20px;
    color: #3e3d3d;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.h2-black::after {
    content: "";
    display: block;
    margin: 27px auto 0;
    background-image: url("img/wavy-line-black.png");
    background-repeat: no-repeat;
    height: 5px;
    width: 186px;
}

.normal-text {
    font-family: "Crimson Roman", serif;
    font-size: 14px;
    color: #3e3d3d;
}

.content-container {
    max-width: 1200px;

    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.button-class {
    border: 2px solid #3e3d3d;
    background-color: transparent;
    color: #3e3d3d;
    cursor: pointer;
    font-family: "Montserrat Regular", sans-serif;
}

.button-class:hover {
    background-color: #3e3d3d;
    color: #cecece;
}

.main-header {
    background-image: url("img/Slider main.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
}

.navigation-bar {
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Montserrat Regular", sans-serif;
    color: #757575;
}

    .navigation-bar .content-container {
        height: 63px;
        display: flex;
        align-items: center;
    }

    .logo-name {
        text-decoration: none;
        font-weight: bold;
        color: #757575;
        display: inherit;
        align-items: inherit;
    }

    .logo-image {
        margin-right: 12px;
    }

    .navigation-bar ul {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 580px;
        padding-left: 0;
    }

    .nav-social-networks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #757575;
    }

        .nav-social-networks a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }

    .vertical-line {
        border-left: 2px solid #757575;
        height: 10px;
        margin: 0 4px;
        display: inline-block;;
    }

    .navigation-bar nav {
        margin-left: 107px;
        flex-grow: 1;
        color: #aaaaaa;
    }

        .navigation-bar nav a {
            color: inherit;
            text-decoration: none;
            position: relative;
        }

        .navigation-bar nav a::after {
            display: block;
            height: 2px;
            background-color: #757575;
            transition: width 0.2s;
            position: absolute;
            left: 0;
            width: 0;
            content: "";
        }

        .navigation-bar nav a:hover::after,
        a:focus::after {
            width: 100%;
        }

.slider {
    display: flex;
    align-items: center;
    margin-top: 198px;
}

    .slider .content-container {
        text-align: center;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    .slider-header {
        display: flex;
        align-items: center;
        background-image: url("img/wavy-lines.png");
        background-repeat: no-repeat;
        margin-top: 24px;
    }

    .slider .normal-text {
        color: white;
        letter-spacing: 1px;
    }

    .slide-button {
        background-color: transparent;
        border: transparent;
        background-repeat: no-repeat;
        height: 34px;
        width: 34px;
    }

    .slider-left {
        background-image: url("img/slider-button-left.png");
        cursor: pointer;
    }

    .slider-right {
        background-image: url("img/slider-button-right.png");
        cursor: pointer;
    }

    .slider-button {
        height: 39px;
        width: 134px;

        display: block;
        margin: 44px auto 0;

        font-size: 15px;
        border-color: #ffffff;
        color: #ffffff;
    }

    .slider-button:hover {
        background-color: #3e3d3d;
        color: #ffffff;
    }

    .slider-button-arrow {
        position: relative;
        top: -8px;
    }

.about-us-container {
    padding-top: 73px;
    background-color: #e3e3e3;
}

    .about-us-container .content-container {
        display: flex;
        flex-direction: column;
    }

    .about-us {
        padding: 60px 70px 50px;
        background-color: #ffffff;
    }

        .about-us span {
            display: block;
            padding: 43px 0 50px;
            line-height: 25px;
            letter-spacing: 1.4px;
        }

        .about-us-buttons {
            display: flex;
            justify-content: center;
        }

        .about-us-buttons button {
            text-transform: capitalize;
            width: 134px;
            height: 39px;
            margin: 0 4px;
        }

    .about-us-stats {
        display: flex;
        justify-content: center;
        padding: 36px 0 63px;
    }

        .stat-element {
            width: 270px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-family: "Montserrat Regular", sans-serif;
            font-weight: bold;
            color: #3e3d3d;
        }

        .stat-name {
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
            line-height: 18px;
        }

        .stat-counter {
            font-size: 45px;
        }